<main *ngIf="pessoa">
  <div class="d-grid gap-2">
    <button type="button" class="btn btn-block btn-success" routerLink="/">Voltar</button>
  </div>

  <hr />
  <h1>{{ pessoa.nome }}</h1>

  <small>Apresentou-se em: {{ pessoa.data_apresentacao | date: 'dd/MM/YYYY hh:mm:ss' }}</small>

  <div class="m-3 row">
    <label for="id" class="col-sm-1 col-form-label">Id:</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="id" name="id" readonly [value]="pessoa.id">
    </div>
  </div>

  <div class="m-3 row">
    <label for="idade" class="col-sm-1 col-form-label">Idade:</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="idade" id="idade" readonly [value]="pessoa.idade">
    </div>
  </div>

  <div class="m-3 row">
    <label for="cidade" class="col-sm-1 col-form-label">Cidade:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="cidade" id="cidade" readonly [value]="pessoa.cidade">
    </div>
  </div>

  <div class="m-3 row">
    <label for="estado" class="col-sm-1 col-form-label">Estado:</label>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="estado" id="estado" readonly [value]="pessoa.estado">
    </div>
  </div>

  <div class="m-3 row">
    <label for="genero_autoidentificacao" class="col-sm-1 col-form-label">Gênero:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="genero_autoidentificacao" id="genero_autoidentificacao" readonly [value]="pessoa.genero_autoidentificacao">
    </div>
  </div>

  <div class="m-3 row">
    <label for="pronomes" class="col-sm-1 col-form-label">Pronomes:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="pronomes" id="pronomes" readonly [value]="pessoa.pronomes">
    </div>
  </div>

  <div class="m-3 row">
    <label for="participacao" class="col-sm-1 col-form-label">Participacao:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="participacao" id="participacao" readonly [value]="pessoa.participacao">
    </div>
  </div>

  <div class="m-3 row" *ngIf="pessoa.link_perfil_linkedin">
    <label for="link_perfil_linkedin" class="col-sm-1 col-form-label">Linkedin:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="link_perfil_linkedin" id="link_perfil_linkedin" readonly [value]="pessoa.link_perfil_linkedin">
    </div>
  </div>

  <div class="m-3 row d-flex align-items-center" *ngIf="pessoa.porque_esta_aqui">
    <label for="porque_esta_aqui" class="col-sm-1 col-form-label">Porque está aqui:</label>
    <div class="col-sm-11">
      <textarea class="form-control" id="porque_esta_aqui" rows="10" class="form-control" id="porque_esta_aqui" id="porque_esta_aqui" readonly [value]="pessoa.porque_esta_aqui"></textarea>
    </div>
  </div>

  <div class="m-3 row d-flex align-items-center" *ngIf="pessoa.bio">
    <label for="bio" class="col-sm-1 col-form-label">Bio:</label>
    <div class="col-sm-11">
      <textarea class="form-control" id="bio" id="bio" rows="10" readonly [value]="pessoa.bio"></textarea>
    </div>
  </div>

</main>
