/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.frame-conteudo {
  height: 790px;
  overflow-y: auto;
}

.header-footer-coletivo {
  display: flex;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}
